

:host {
    display: flex;
    width: 100%; /* Setzt die Komponente auf volle Breite */
    max-width: 1440px; /* Optional: Maximale Breite festlegen */
    margin: 0 auto; /* Zentriert die Komponente innerhalb des übergeordneten Containers */
    position: absolute;
    top:0;
    z-index: 4;
  }

  #headerContainer{
    display: flex;
    width: 100%;
    height: 7.3125rem;
    justify-content: space-around;
    align-items: center;
  }

  #navBar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:clamp(20px, 3vw, 36px);

  }

  #headerLogo{
    width:68px;
    height:68px;
    background-color: white;
  }

  a{
    text-decoration: none;
    color: rgba(89, 136, 255, 1);
  }

  /* Für Handys und Tablets im Portrait- und Landscape-Modus */

/* Handys im Portrait- und Landscape-Modus (maximale Breite von 600px) */
@media (max-width: 600px) {
  /* Styles für Handys */
}

@media (max-width: 600px) and (orientation: landscape) {
  /* Styles für Handys im Querformat */
}

/* Tablets im Portrait- und Landscape-Modus (zwischen 600px und 768px) */
@media (max-width: 768px) and (min-width: 600px) {
  /* Styles für Tablets */
}

@media (max-width: 768px) and (min-width: 600px) and (orientation: landscape) {
  /* Styles für Tablets im Querformat */
}

/* Für Laptops und Desktops im Landscape-Modus */

/* Laptops im Landscape-Modus (zwischen 768px und 1024px) */
@media (max-width: 1024px) and (min-width: 768px) and (orientation: landscape) {
  /* Styles für Laptops im Querformat */
}

/* Desktops im Landscape-Modus (ab 1024px) */
@media (min-width: 1024px) and (orientation: landscape) {
  /* Styles für Desktops im Querformat */
}
