

:host {
    display: flex;
    width: 100%; /* Setzt die Komponente auf volle Breite */
    max-width: 1440px; /* Optional: Maximale Breite festlegen */
    margin: 0 auto; /* Zentriert die Komponente innerhalb des übergeordneten Containers */
    position: absolute;
    top:0;
    z-index: 4;
  }

  #headerContainer{
    display: flex;
    width: 100%;
    height: 7.3125rem;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 83.5px;
  }

  #languageButton{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
   
    &:hover{
      cursor: pointer;
    }

  }

  #bubbleImage{
    width: 100%;
    height:100%;
  }

  #languageLogo{
    position: absolute;
    width: 80%;
    height: auto;
    top: 1px;
    left: 3.5px;
  }

  #navBar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:clamp(20px, 3vw, 36px);

  }

  .headerLogo{
    width:68px;
    height:68px;
    background-color: white;
  }

  #headerLogo:hover{
    cursor: pointer;
  }

  #burgerMenuIcon{
    display: none;
    z-index: 1100;
  }

  .navElement{
    display: flex;
    width: 120px;
    height: 32px;
    align-items: center;
    justify-content: center;
  }

  a{
    text-decoration: none;
    color: rgba(89, 136, 255, 1);
    transition: all linear 0.125s;
    font-size: 23px;
    line-height: 27.6px;
    max-width: 120px;
    width: 100%;
    height: 32px;
    text-align: center;
  }

  .navElement a:hover{
    font-weight: 700;
  }





  #navModal {
    position: fixed;
    top: 0;
    left: 100%; /* Ausgangszustand: außerhalb des Bildschirms */
    width: 100%; /* Volle Breite */
    height: 100%; /* Volle Höhe */
    
    
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5); /* Schatten */
    transition: left 0.3s ease-in-out; /* Sanfter Übergang */
    z-index: 1000; /* Modal über andere Inhalte */

    background: linear-gradient(179.99deg, rgba(255, 255, 255, 0.8) 12.89%, rgba(234, 240, 255, 0.8) 91.39%);

    
    
  }
  
  /* Aktiv-Modus (sichtbar) */
  #navModal.active {
    left: 0; /* Modal wird sichtbar */
  }


  #logoRow{
    display: flex;
    width: 100%;
    height: 7.3125rem;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 83.5px;
  }


  #languageButton2{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
   
    &:hover{
      cursor: pointer;
    }

  }

  #bubbleImage2{
    width: 100%;
    height:100%;
  }

  #languageLogo2{
    position: absolute;
    width: 80%;
    height: auto;
    top: 1px;
    left: 3.5px;
  }

  #headerLogo2{
    background-color: aqua;
  }

  #navBar2{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10%;
    height: 100%;
    padding-top: 20%;

  }



  /* Für Handys und Tablets im Portrait- und Landscape-Modus */
  @media (max-width: 768px){
    
    #headerContainer, #logoRow{
      height: 100px;
      padding-left: 1rem;
      padding-right: 1rem;
      justify-content: space-between;
      align-items: center;
    }

    #navBar{
      display: none;
    }

    #burgerMenuIcon{
      display: block;
      width: 50px;
      height: 50px;
      cursor: pointer;

      &:hover{

      }
    }

    #modalCloseButton{
      display: block;
      width: 50px;
      height: 50px;
    }

    
    
  }

