

:host {
    display: flex;
    width: 100%; /* Setzt die Komponente auf volle Breite */
    max-width: 1440px; /* Optional: Maximale Breite festlegen */
    margin: 0 auto; /* Zentriert die Komponente innerhalb des übergeordneten Containers */
    position: absolute;
    top:0;
    z-index: 4;
  }

  #headerContainer{
    display: flex;
    width: 100%;
    height: 7.3125rem;
    justify-content: space-around;
    align-items: center;
  }

  #navBar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:clamp(20px, 3vw, 36px);

  }

  #headerLogo{
    width:68px;
    height:68px;
    background-color: white;
  }

  #burgerMenuIcon{
    display: none;
  }

  a{
    text-decoration: none;
    color: rgba(89, 136, 255, 1);
  }

  /* Für Handys und Tablets im Portrait- und Landscape-Modus */
  @media (max-width: 768px){
    
    #headerContainer{
      height: 100px;
      padding-left: 1rem;
      padding-right: 1rem;
      justify-content: space-between;
      align-items: center;
    }

    #navBar{
      display: none;
    }

    #burgerMenuIcon{
      display: block;
      width: 50px;
      height: 50px;
      cursor: pointer;

      &:hover{

      }
    }

    
  }

