<div class="component-container">
    <div id="headerContainer">
        <a href="#headerContainer" id="headerLogo">
            Logo
        </a>
        <div id="burgerMenuIcon">
            <img src="assets/icons/burger.svg">
        </div>
        <div id="navBar">
            <div id="langugeButton">
                L
            </div>
            <div id="navAbout" class="navElement">
                <a href="#aboutMe">{{aboutMe}}</a>
            </div>
            <div id="navSkill" class="navElement">
                <a href="#skillsetContainer">Skill set</a>
            </div>
            <div id="navMyWork" class="navElement">
                <a href="#projectsContainer">My Work</a>
            </div>
        </div>

    </div>

</div>
