<div class="component-container">
    <div id="headerContainer">
        <div id="headerLogo">
            Logo
        </div>
        <div id="burgerMenuIcon">

        </div>
        <div id="navBar">
            <div id="langugeButton">
                L
            </div>
            <div id="navAbout">
                <a href="#aboutMeContainer">{{aboutMe}}</a>
            </div>
            <div id="navSkill">
                <a href="#skillsetContainer">Skills</a>
            </div>
            <div id="navMyWork">
                <a href="#projectsContainer">My Work</a>
            </div>
        </div>

    </div>
<p>header works!</p>
</div>
