<div class="component-container">
    <div id="footerContainer">
        <div id="footerUpperRow">
            <a id="footerLogo" href="#headerContainer">
                Logo
            </a>
            <div id="footerCopyright">
                &#64; Björn Breßler 2024
            </div>
            <div id="footerSocMediaContainer">
                <div id="footerGithubLogo">
                    <img id="footerGithubLogoIcon" src="assets/icons/githubIcon.svg">
                </div>
                <div id="footerMailLogo">
                    <img id="footerMailLogoIcon" src="assets/icons/mailIcon.svg">
                </div>
                <div id="footerLILogo">
                    <img id="footerLnLogoIcon" src="assets/icons/lnIcon.svg">
                </div>
            </div>
        </div>
        <div id="legalNoticeRow">
            <a href="assets/legalNotice.html" target="_blank">Legal Notice</a>
        </div>
    </div>
</div>
