<div id="aboutMe"class="component-container">
  <div class="circle-background-big"></div>
  <div class="circle-background-small"></div>
  <div id="aboutMeContainer">
    <div id="letsWorkContainer">
      <h2>Let's work together</h2>

      <div id="availabilityContainer">
        <div id="iAm">I am</div>

        <div id="availabilityIconRow">
          <div
            id="located"
            class="availabilityIcons"
            (mouseenter)="locationOnHover(true)"
            (mouseleave)="locationOnHover(false)"
          >
            <img
              id="locationImg"
              class="availabilityIconsImgs"
              [src]="locationIconPath"
            />
            <div class="availybilityTexts">located in Kaiserslautern</div>
          </div>
          <div
            id="remote"
            class="availabilityIcons"
            (mouseenter)="remoteOnHover(true)"
            (mouseleave)="remoteOnHover(false)"
          >
            <div id="remoteImgContainer">
              <img
                id="remoteImg"
                class="availabilityIconsImgs"
                [src]="remoteIconPath"
              />
            </div>
            <div id="remoteTxt" class="availybilityTexts">open to work remote</div>
          </div>
          <div
            id="relocate"
            class="availabilityIcons"
            (mouseenter)="relocateOnHover(true)"
            (mouseleave)="relocateOnHover(false)"
          >
          <div id="relocateImgContainer">
            <img class="availabilityIconsImgs" [src]="relocateIconPath" />
            </div>
            <div class="availybilityTexts">not open to relocate</div>
          </div>
        </div>
      </div>
    </div>
    <div id="aboutMeTextandButton">
      <div id="aboutMeText">
        <p>
          I am a Front-End Developer based in Kaiserslautern, Germany. I enjoy helping designers and companies bring their ideas to life. I am eager to advance my developer career by securing a position as a Junior Web Developer. My strong problem-solving skills and passion for programming make me a valuable addition to any team.
        </p>
        <p>If you believe I’d be a great fit for your projects, feel free to contact me!</p>
      </div>
      <div
        (click)="onScrollToContact()"
        id="contactRefButton"
        class="mainButton"
      >
        <span>Send a message</span>
      </div>
    </div>
  </div>
</div>
