<div id="aboutMe"class="component-container">
  <div class="circle-background-big"></div>
  <div class="circle-background-small"></div>
  <div id="aboutMeContainer">
    <div id="letsWorkContainer">
      <h2>{{headertitle}}</h2>

      <div id="availabilityContainer">
        <div id="iAm">{{headertext}}</div>

        <div id="availabilityIconRow">
          <div
            id="located"
            class="availabilityIcons"
            (mouseenter)="locationOnHover(true)"
            (mouseleave)="locationOnHover(false)"
          >
            <img
              id="locationImg"
              class="availabilityIconsImgs"
              [src]="locationIconPath"
            />
            <div class="availybilityTexts">{{locationText}}</div>
          </div>
          <div
            id="remote"
            class="availabilityIcons"
            (mouseenter)="remoteOnHover(true)"
            (mouseleave)="remoteOnHover(false)"
          >
            <div id="remoteImgContainer">
              <img
                id="remoteImg"
                class="availabilityIconsImgs"
                [src]="remoteIconPath"
              />
            </div>
            <div id="remoteTxt" class="availybilityTexts">{{remoteText}}</div>
          </div>
          <div
            id="relocate"
            class="availabilityIcons"
            (mouseenter)="relocateOnHover(true)"
            (mouseleave)="relocateOnHover(false)"
          >
          <div id="relocateImgContainer">
            <img class="availabilityIconsImgs" [src]="relocateIconPath" />
            </div>
            <div class="availybilityTexts">{{relocateText}}</div>
          </div>
        </div>
      </div>
    </div>
    <div id="aboutMeTextandButton">
      <div id="aboutMeText">
        <p>
          {{aboutText}}
        </p>
        <p>{{aboutText2}}</p>
      </div>
      <div
        (click)="onScrollToContact()"
        id="contactRefButton"
        class="mainButton"
      >
        <span>{{messageButton}}</span>
      </div>
    </div>
  </div>
</div>
