*{
    margin: 0;
}

body {
  
    scrollbar-width: none; /* Versteckt die Scrollbar in Firefox */
    -ms-overflow-style: none; /* Versteckt die Scrollbar in IE */
    background: linear-gradient(179.99deg, #FFFFFF 12.89%, #EAF0FF 91.39%);
  }
  
  /* WebKit-Browser wie Chrome, Safari, Edge */
  ::-webkit-scrollbar {
    display: none;
  }
  
  :host{
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(179.99deg, #FFFFFF 12.89%, #EAF0FF 91.39%);
  }
  
    
    html{
      margin:0;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      scroll-behavior: smooth;
      background: linear-gradient(179.99deg, #FFFFFF 12.89%, #EAF0FF 91.39%);

    }

    #contentContainer{
        width: 100%;
        max-width: 1444px;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 7.3125rem;
        padding-bottom: 10vh;
        position: relative;
    }
    
    body{
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        
    }
    
    h1,h2,h3,h3{
      font-family: 'Baloo';
      font-style: normal;
      color: rgba(89, 136, 255, 1);
    }

    h1{
        font-size: clamp(4rem,10vw, 6rem); 
        line-height: clamp(4rem, 10vw, 6rem);
        margin-bottom: 2rem;
    }
    
    p{
        margin-bottom: 1rem;
    }
    
    h2{
      font-size: clamp(3rem,8vw, 5rem);
      font-weight: 400;
      margin: 0;
      line-height: clamp(3rem, 8vw, 5rem);
      margin-top: 2rem;
      
    }

    h3{
        margin-bottom: 1rem;
    }

    a{
        text-decoration: none;
        color: black;
    }


    .logoBackRow{
      margin-bottom: 3rem;
      display: flex;
      align-items: center;
      flex-direction: row;
      width: 100%;
      gap: 2rem;
    }

    .backHomeLogo{
      width: 150px;
      height: 150px;
      &:hover{
        
      }

    }

    .backHomeText{
      &:hover{
        scale: 1.2;
        transition: all ease-in-out 125ms;
      }
    }


    
    #name{
        font-size: larger;
        font-weight: bolder;
        color: rgba(89, 136, 255, 1);
    }

    
    #buttonUpContainer{
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
       
      }
    
      #buttonUpRow{
         max-width: 1440px;
         width:100%;
         padding-left: 1rem;
      }

      #imageContainer {
        display: inline-block;
        position: relative;
        width: 50px; // Beispielgröße
        height: 50px;
      
        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transition: opacity 0.125s ease, transform 0.125s ease;
        }
      
        // Standardzustand: Erstes Bild sichtbar, zweites Bild unsichtbar
        .img-normal {
          opacity: 1;
          transform: scale(1);
        }
      
        .img-hover {
          opacity: 0;
          transform: scale(1);
        }
      
        // Hover-Effekt: Erstes Bild ausblenden, zweites Bild einblenden
        &:hover {
          .img-normal {
            opacity: 0;
            transform: scale(1);
          }
      
          .img-hover {
            opacity: 1;
            transform: scale(1);
          }
        }
      }

      .circle-background {
        width: 200px; /* Breite des Kreises */
        height: 200px; /* Höhe des Kreises */
        top: -75px; /* Positioniert den Kreis 71px oberhalb des Containers */
        left: 50px; /* Positioniert den Kreis 199px links vom Container */
        gap: 0px; /* Kein Abstand zwischen Elementen, falls flex oder grid genutzt wird */
        background: radial-gradient(74.22% 74.22% at 19.79% 22.42%, #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%);
        position: absolute; /* Ermöglicht die freie Platzierung */
        z-index: 1; /* Positioniert den Kreis hinter anderen Elementen */
        border-radius: 50%; /* Formt das Element zu einem perfekten Kreis */
    }

      
    @media (max-width: 768px){

      .circle-background {
        left: -20px;
        
      }
      
    }