

:host {
    display: flex;
    width: 100%; /* Setzt die Komponente auf volle Breite */
    max-width: 1440px; /* Optional: Maximale Breite festlegen */
    margin: 0 auto; /* Zentriert die Komponente innerhalb des übergeordneten Containers */
    background-color: white;
  }

  #projectsContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    
    padding-top: 140px;
    padding-bottom: 140px;
    padding-left: 77px;
    padding-right: 77px;

  }

  #headerContainer{
    max-width: clamp(324px, 43vw, 630px);
    width: 100%;

    padding-bottom: 40px;
    
    
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #actualProjects{
    display: flex;
    flex-direction: column;
    gap: 70px;
  }

  h2{
    font-size: 96px;
    line-height: 96px;
    font-weight: 400;
    color: rgba(89, 136, 255, 1);
  }



  /* Für Handys und Tablets im Portrait- und Landscape-Modus */

  @media (max-width: 768px){

    h2{
      font-size: 64px;
      line-height: 76.8px;
    }

    #projectsContainer{
      padding-left: 1rem;
      padding-right: 1rem;
      justify-content: center;
      align-items: center;
    }

    #headerContainer{
      max-width: 500px;
      width: 100%;
    }

    #actualProjects{
      gap: 101px;
    }


  }

