<div class = "component-container">

    <div #contactContainer id="contactContainer">
            <div id="contactTextContainer">
                <h2>{{header}}</h2>
                <h3>{{catch}}</h3>
                <p>
                    {{text}}
                    
                </p>
                <p id="cta">
                    {{callToAction}} <span id="ctaBold">{{callToAction2}}</span>
                </p>
            </div>
            <div id="contactFormContainer">
                <form id="contactForm" #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
                    
                    <input [(ngModel)]="contactData.name" class="input" name="name" type="text" id="name" [placeholder]="inputNamePlaceholder" autocomplete="off" required>

                    
                    <input [(ngModel)]="contactData.email" class="input" type="email" id="email" name="email" [placeholder]="inputEmailPlaceholder" autocomplete="off" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">

                    
                    <textarea [(ngModel)]="contactData.message"  class="input" id="message" name="message" [placeholder]="inputMessagePlaceholder" autocomplete="off" required>
                    </textarea>
                    <div id="checkBoxRow">
                        <input type="checkbox" name="privacyCheckbox" id="privacyCheckbox" [(ngModel)]="policyAccepted" required>
                        <label id="checkboxLabel" for="privacyCheckbox">{{privaceLabel1}} <a [href]="policyLink" target="_blank" >{{privacyLinkText}}</a> {{privacyLabel2}}</label>

                    </div>

                    <button class="mainButton" type="submit" [disabled]="!contactForm.valid" ><span>{{buttonText}}</span></button>
                </form>
            </div>
            
    </div>
    <div id="buttonUpContainer">
                <div id="buttonUpRow">
                    <a id="imageContainer" href="#headerContainer"><img class="img-normal" src="assets/icons/IconBackUp.svg"><img class="img-hover" src="assets/icons/IconBackUpHover.svg"></a>
                </div>
    </div>

    <div class="circle" id="backgroundCircleBig"></div>
    <div class="circle" id="backgroundCircleMedium"></div>
    <div class="circle" id="backgroundCircleSmall"></div>
</div>
