

:host {
    display: flex;
    width: 100%; /* Setzt die Komponente auf volle Breite */
    max-width: 1440px; /* Optional: Maximale Breite festlegen */
    margin: 0 auto; /* Zentriert die Komponente innerhalb des übergeordneten Containers */
    background: linear-gradient(179.99deg, #FFFFFF 12.89%, #EAF0FF 91.39%);
    position:relative;
  }

  #contactContainer{
    display: flex;
    align-items: start;
    justify-content: center;
    gap:150px;
    padding-left: 1rem;
    padding-right: 1rem;
    
  }

  #contactTextContainer{
    
    display: flex;
    flex-direction: column;
    align-items: start;
    width:473px;
    margin-top:140px;
  }

  #contactFormContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 617px;
    height: 504px;
    
  }

  #contactForm{
    box-sizing: border-box;
    width: 100%;
    height: 504px;
    display:flex;
    flex-direction: column;
    padding-right: 1rem;
    gap: 32px;
    margin-top: 333px;
    
  }

  #name, #email, #message{
    padding: 15px 25px;
    border-radius: 10px;
    border: solid 1px rgba(89, 136, 255, 1);
  }


  #name, #email{
    height: 50px;
  }

  #message{
    resize: none;
    height: 202px;
  }

  h2,h3{
    color: rgba(89, 136, 255, 1);
    
  }

  h2{
    margin-bottom: 85px;
    
  }

  h3{
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
    margin-bottom: 35px;
  }

  p{
    margin-bottom: 25px;
  }

  #cta{
    color: rgba(89, 136, 255, 1);
    margin-bottom: 327px;
  }

  #ctaBold{
    font-family: 'Baloo';
    font-size: 1rem;
  }

  #buttonUpContainer{
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
   
  }

  #buttonUpRow{
     max-width: 1240px;
     width:100%;
     padding-left: 1rem;
  }

  a{
    text-decoration: none;
    color: rgba(89, 136, 255, 1);
  }

  #checkboxLabel{
    font-size: 14px;
  }


  #imageContainer {
    display: inline-block;
    position: relative;
    width: 50px; // Beispielgröße
    height: 50px;
  
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: opacity 0.125s ease, transform 0.125s ease;
    }
  
    // Standardzustand: Erstes Bild sichtbar, zweites Bild unsichtbar
    .img-normal {
      opacity: 1;
      transform: scale(1);
    }
  
    .img-hover {
      opacity: 0;
      transform: scale(0.8);
    }
  
    // Hover-Effekt: Erstes Bild ausblenden, zweites Bild einblenden
    &:hover {
      .img-normal {
        opacity: 0;
        transform: scale(1.2);
      }
  
      .img-hover {
        opacity: 1;
        transform: scale(1);
      }
    }
  }


  .circle{
    background: radial-gradient(74.22% 74.22% at 19.79% 22.42%, #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%);
    border-radius: 100%; 
    position: absolute;
    top:0;    
  }

  #backgroundCircleBig{
    width: 204px;
    height: 204px;
    left: 16%;
    top: 60%;
  }

  #backgroundCircleMedium{
    width: 129.91px;
    height: 129.91px;
    transform: rotate(81.57deg);
    top: 4%;
    left: 60%;
  }

  #backgroundCircleSmall{
    width: 73px;
    height: 73px;
    top: 85%;
    right: 6%;
  }


  
  @media (max-width: 768px){

    #contactContainer{
      flex-direction: column;
      gap: 35px;
    }

    #backgroundCircleMedium{
      width: 101.57px;
      height: 101.57px;
      top:2%;
      left:auto;
      right: 50px;
    }

    #backgroundCircleBig{
      display: none;
    }

    #backgroundCircleSmall{
      width:42px;
      height: 41px;
      top:91%

    }

    #contactTextContainer{
      width: 100%;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    h2{
      margin-bottom: 35px;
    }

    h3{
      font-size: 23px;
      line-height: 27.6px;
    }

    #cta{
      margin-bottom: 0;
    }

    #contactForm{
      margin-top: 0;
      align-items: center;
    }

    #contactFormContainer{
      box-sizing: border-box;
      padding-left: 1rem;
      padding-right: 1rem;
      
    }

    #buttonUpContainer{
      margin-top: 40px;
      margin-bottom: 30px;
      padding-left: 1rem;
    }

    #imageContainer{
      width: 39px;
      height: 39px;
    } 

    .input{
      width: 100%;
    }

  }