.skill-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: clamp(5px,1vw,10px);
    height: clamp(100px,25vw,150px);
    width: 86px;
    color: white;
    transition: gap 125ms ease-in-out;






img{
    height: clamp(60px, 8vw, 75px); 
    width: clamp(55.8px, 7vw, 70px);
}





.skill-description{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: clamp(0.875rem, 2vw,1rem);
}


&:hover{

    gap:25px;

    .skill-description{
        transition: all 125ms ease-in-out;
        font-weight: 700;

    }
}









}





