*{
    margin: 0;
}

body {
  
    scrollbar-width: none; /* Versteckt die Scrollbar in Firefox */
    -ms-overflow-style: none; /* Versteckt die Scrollbar in IE */
  }
  
  /* WebKit-Browser wie Chrome, Safari, Edge */
  ::-webkit-scrollbar {
    display: none;
  }
  
  
  
    /* baloo-2-regular - latin */
    @font-face {
      font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
      font-family: 'Baloo 2';
      font-style: normal;
      font-weight: 400;
      src: url('fonts/baloo-2-v21-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
  
    @font-face {
      font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
      font-family: 'Baloo';
      font-style: normal;
      font-weight: 400;
      src: url('fonts/Baloo-Regular.ttf') format('truetype'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
  
    
    /* montserrat-regular - latin */
    @font-face {
      font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      src: url('fonts/montserrat-v26-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
    
    html{
      margin:0;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      scroll-behavior: smooth;
      background: linear-gradient(179.99deg, #FFFFFF 12.89%, #EAF0FF 91.39%);

    }

    #outerHeader{
    position: fixed;
    top: 0;

    width: 100%;
    background: linear-gradient(179.99deg, #FFFFFF 12.89%, #EAF0FF 91.39%);
        box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
        display: flex;
        justify-content: center;
        align-items: center;
    }


    #headerContainer{
        
        
        display: flex;
        width: 100%;
        max-width: 1044px;
        
        height: 7.3125rem;
        justify-content: space-between;
        align-items: center;
        padding-left: 100px;
        padding-right: 83.5px;
        
      }

      .headerLogo{
        width:68px;
        height:68px;
        background-color: blue;
      }
    
      .headerLogo:hover{
        cursor: pointer;
      }


    #contentContainer{
        width: 100%;
        max-width: 1044px;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 7.3125rem;
        padding-bottom: 20vh;
    }
    
    body{
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        
    }
    
    h1,h2,h3,h3{
      font-family: 'Baloo';
      font-style: normal;
      color: rgba(89, 136, 255, 1);
    }

    h1{
        font-size: clamp(4rem,10vw, 6rem); 
        line-height: clamp(4rem, 10vw, 6rem);
    }
    
    
    
    h2{
      font-size: clamp(3rem,8vw, 5rem);
      font-weight: 400;
      margin: 0;
      line-height: clamp(3rem, 8vw, 5rem);
      
    }

    a{
        text-decoration: none;
        color: black;
    }
    
    #name{
        font-size: larger;
        font-weight: bolder;
        color: rgba(89, 136, 255, 1);
    }