/* You can add global styles to this file, and also import other style files */



.component-container{
    width:100%;
    max-width: 1440px;
    
}

*{
    margin: 0;
    box-sizing: border-box;
    
    
}


body {
  
  scrollbar-width: none; /* Versteckt die Scrollbar in Firefox */
  -ms-overflow-style: none; /* Versteckt die Scrollbar in IE */
}

/* WebKit-Browser wie Chrome, Safari, Edge */
::-webkit-scrollbar {
  display: none;
}



  /* baloo-2-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/baloo-2-v21-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Baloo';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/Baloo-Regular.ttf') format('truetype'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  
  /* montserrat-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/montserrat-v26-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  
  html{
    margin:0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    scroll-behavior: smooth;
  }
  
  h1,h2,h3,h3{
    font-family: 'Baloo';
    font-style: normal;
  }
  
  
  
  h2{
    font-size: clamp(4rem,10vw, 6rem);
    font-weight: 400;
    margin: 0;
    line-height: clamp(4rem, 10vw, 6rem);
    
  }

  .mainButton {
    position: relative;
    box-sizing: border-box;
    width: fit-content;
    height: 58px;
    padding: 15px 30px;
    border-radius: 10px;
    border: solid 2px rgba(89, 136, 255, 1);
    font-size: 23px;
    line-height: 27.6px;
    font-weight: 400;
    color: rgba(89, 136, 255, 1);
    overflow: hidden;
    margin-bottom: 10px;
    transition: all 0.125s ease-in-out;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: none;
  
    // Hover-Effekt
    &:hover {
      cursor: pointer;
      color: white;
      padding: 20px 40px;
      height: 68px;
      margin-bottom: 0px;
  
      &::before {
        width: 120%; // Breiter als der Button, um die Diagonale zu füllen
      }
    }
  
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -13%; // Startet leicht außerhalb des Buttons
      width: 0;
      height: 150%; // Größer als die Höhe, um die Schräge abzudecken
      background: radial-gradient(
        74.22% 74.22% at 19.79% 22.42%,
        #5988ff 6.25%,
        #5988ff 51.56%,
        #0043f0 100%
      );
      transition: width 0.125s ease-in-out;
      z-index: 0;
      transform: skewX(-20deg); // Schräge Füllung
    }
  
    span {
      position: relative;
      z-index: 1;
    }
  
    // Deaktivierter Zustand
    &:disabled {
      cursor: not-allowed;
      background: transparent;
      color: rgba(150, 150, 150, 1);
      border: solid 2px rgba(200, 200, 200, 1);
      padding: 15px 30px;
      height: 58px;
      transition: all ease 125ms;
  
      &:hover {
        padding: 15px 30px; // Keine Änderungen beim Hovern
        height: 58px;
        background: transparent;
        color: rgba(150, 150, 150, 1);
        border: solid 2px rgba(200, 200, 200, 1);
        margin-bottom: 10px;
      }

      &::before{
        display: none;
      }
    }
  }
  

  
  
  

  .secButton{
    position: relative;
    box-sizing: border-box;
    width: fit-content;
    height: 58px;
    padding: 15px 30px;
    border-radius: 10px;
    border: solid 2px rgba(89, 136, 255, 1);
    font-size: 23px;
    line-height: 27.6px;
    font-weight: 400;
    color: white;
    overflow: hidden;
    margin-bottom: 10px;
    transition: all 0.125s ease-in-out;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba(89, 136, 255, 1);
  
    &:hover {
      cursor: pointer;
      color: white;
      padding: 20px 40px;
      height: 68px;
      margin-bottom: 0px;
    }
  
    &:hover::before {
      width: 120%; /* Breiter als der Button, um sicherzustellen, dass die Diagonale voll ist */
    }
  
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -10%; /* Startet leicht außerhalb des Buttons */
      width: 0;
      height: 150%; /* Größer als die Höhe, um die Schräge abzudecken */
      background: radial-gradient(74.22% 74.22% at 19.79% 22.42%, #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;

      transition: width 0.125s ease-in-out;
      z-index: 0;
      transform: skewX(-20deg); /* Schräge Füllung */
    }
  
    & span {
      position: relative;
      z-index: 1;
    }
  }


  










  @media (max-width: 768px){
.mainButton{
    height: 54px;
    margin-bottom: 4px;  

    &:hover{
      height:58px;
      
    }

    &:disabled{
       height:54px;

       &:hover{
        margin-bottom: 4px;
       height: 54px;
       }
    }
}

.secButton{
  height: 54px;
  margin-bottom: 4px;  

  &:hover{
    height:58px;
  }
}

  }

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
