
:host {
    display: flex;
    width: 100%; /* Setzt die Komponente auf volle Breite */
    max-width: 1440px; /* Optional: Maximale Breite festlegen */
    margin: 0 auto; /* Zentriert die Komponente innerhalb des übergeordneten Containers */
    background: linear-gradient(128.94deg, #5988FF -33.96%, #5988FF 36.71%, #0043F0 112.25%);
  }


  


#skillsetContainer{
    display:flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

#skillSetHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

#technologyContainer{
    box-sizing: border-box;
    padding-left: clamp(0.8rem, 2vw ,0rem);
    padding-right: clamp(0.8rem, 2vw ,0rem);
    width: 100%;
    max-width: 1036px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 5.25rem;
    margin-top: 56px;
    gap: clamp(10px, 3vw ,50px);
}

h2{
    color: white;
    margin-top:56px;
}



/* Für Handys und Tablets im Portrait- und Landscape-Modus */

/* Handys im Portrait- und Landscape-Modus (maximale Breite von 600px) */
@media (max-width: 600px) {
    /* Styles für Handys */
}

@media (max-width: 600px) and (orientation: landscape) {
    /* Styles für Handys im Querformat */
}

/* Tablets im Portrait- und Landscape-Modus (zwischen 600px und 768px) */
@media (max-width: 768px) and (min-width: 600px) {
    /* Styles für Tablets */
}

@media (max-width: 768px) and (min-width: 600px) and (orientation: landscape) {
    /* Styles für Tablets im Querformat */
}

/* Für Laptops und Desktops im Landscape-Modus */

/* Laptops im Landscape-Modus (zwischen 768px und 1024px) */
@media (max-width: 1024px) and (min-width: 768px) and (orientation: landscape) {
    /* Styles für Laptops im Querformat */
}

/* Desktops im Landscape-Modus (ab 1024px) */
@media (min-width: 1024px) and (orientation: landscape) {
    /* Styles für Desktops im Querformat */
}
