
:host {
    display: flex;
    width: 100%; /* Setzt die Komponente auf volle Breite */
    max-width: 1440px; /* Optional: Maximale Breite festlegen */
    margin: 0 auto; /* Zentriert die Komponente innerhalb des übergeordneten Containers */
    background: linear-gradient(128.94deg, #5988FF -33.96%, #5988FF 36.71%, #0043F0 112.25%);
  }


  


#skillsetContainer{
    display:flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

#skillSetHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

#technologyContainer{
    box-sizing: border-box;
    padding-left: clamp(0.8rem, 2vw ,0rem);
    padding-right: clamp(0.8rem, 2vw ,0rem);
    width: 100%;
    max-width: 1036px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 5.25rem;
    margin-top: 56px;
    gap: clamp(10px, 3vw ,50px);
}

h2{
    color: white;
    margin-top:56px;
}



