<div class="component-container">
  <div class="circle-background"></div>

  <div id="atfContainer">
    <div id="atfImageContainer">
      <img id="heroImage" src="assets/img/ai erweitert 1 reduziert.png" />
    </div>
    <div id="atfTextContainer">
      <span id="textGreet">{{ greet }}</span>
      <span id="jobTitle1">{{ title1 }}</span>
      <span id="jobTitle2">{{ title2 }}</span>
    </div>
    <div id="atfSocialMedia">
      <a href="https://github.com/MatheGenie27" target="_blank"  class="socialIconContainer">
        <img src="assets/icons/gitBlue.svg" />
      </a>
      <a href="mailto:info@bjoern-bressler.de" target="_blank" class="socialIconContainer">
        <img src="assets/icons/mailBlue.svg" />
      </a>
      <a href="" target="_blank"class="socialIconContainer">
        <img src="assets/icons/lnBlue.svg" />
      </a>
    </div>
  </div>
</div>
