<div class="component-container">
    <div class="circle-background">

    </div>

    <div id="atfContainer">
        <div id="atfImageContainer">
            <img id="heroImage" src="assets/img/silhouette-of-a-man-36181_1280.png">
        </div>
        <div id="atfTextContainer">
            <span id="textGreet">Hello! I am Björn</span>
            <span id="jobTitle1">FRONTEND</span>
            <span id="jobTitle2">DEVELOPER</span>

        </div>
        <div id="atfSocialMedia">

        </div>
    </div>

</div>
